/* This is a style sheet comment. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto');



body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

#wrapper {
    max-width: 960px;
    margin: 10px auto;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;
    padding-left: 20px;
    font-weight: 700;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

section article {
  margin-bottom: 40px;
  padding-left: 20px;
}

section article h3,
section article h4,
section article p {
  margin: 0;
}

section h2 {
  background: #000;
  color: #fff;
  margin-top: 0;
  padding-left: 20px;
}

/*
#education article,
#experiece article,
#skills article {
    margin-bottom: 20px;
}

#education article h3,
#experience article h3,
#skills article h3 {
    margin: 0;
}

#education article h4,
#experience article h4,
#skills article h4 {
    margin: 0;
}

#education article p,
#experience article p,
#skills article p {
    margin: 0;
}*/

#experience {
    grid-column: 1;
    grid-row: 1 / span 3;
    background-color: rgba(28, 104, 167, 0.4);
    border-width: 5px;
    /*padding: 20px 40px 20px 40px;
    margin: 20px;*/
}

#education {
    grid-column: 2;
    grid-row: 1 / span 1;
    background-color: rgba(28, 104, 167, 0.4);
    border-width: 5px;
    /*padding: 20px 40px 20px 40px;
    margin: 20px;*/
}

#skills {
    grid-column: 3,
    grid-row: 1 / span 2;
    background-color: rgba(28, 104, 167, 0.4);
    border-width: 5px;
    /*padding: 20px 40px 20px 40px;
    margin: 20px;*/
}

#references {
    background-color: rgba(28, 104, 167, 0.4);
    border-width: 5px;
    /*padding: 20px 40px 20px 40px;
    margin: 20px;*/
}

footer {
    color: #000;
    padding-left: 20px;
}

footer small {
    font-size: 10px;
}

</style>
</head>
